	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	body{
		background: #000;
	}

    	h1 {
		background: linear-gradient(45deg, #ff63d0, #524dff);
		text-align: center;
		vertical align: center;
		padding: 75px;
    	}
	
	h2 {
		color: white;
	}
    	p {
      		color: white;
   	}


	/* wonderful hexagons by Swarup Kumar Kuila on codepen.io */
	.container{
		position: relative;
		overflow: hidden;
		animation: animate 4s linear infinite;
	}
	@keyframes animate{
		0%{
			filter: hue-rotate(0deg);
		}
		100%{
			filter: hue-rotate(360deg);
		}
	}
	
	.row{
		display: inline-flex;
		margin-left: -55px;
		margin-top: -27px;
		overflow: hidden;
	}
	.row:nth-child(even){
		margin-left: -3px;
	}
	.hexagon{
		position: relative;
		height: 110px;
		width: 100px;
		background: #111;
		margin: 1px;
		clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		transition: 2s;
	}
	.hexagon:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		pointer-events: none;
		background: rgba(255, 255, 255, 0.02);
	}
	.hexagon:hover{
		transition: 0s;
		background: #0f0;
     	cursor: alias;
	}

	/* thank you for the hexagons :) */

    	.hexlink{
      		text-align: center;
	      	vertical-align: center;
	      	color: white;
	      	padding: 45px 0px;
	      	background: rgba(245, 245, 245, 0.05);
    	}

    	.hexlink:hover{
		transition: 0s;
		background: #0f0;
      		cursor: alias;
	}

    	.card {
     	 	border: 2px solid #ff63d0; 
      		padding: 15px;
      		margin: 10px;
      		border-radius: 5px;
    	}

    	#nav-menu-hex {
      		padding: 0px;
      		align: center;
	  	width: 100%;
    	}

 
